body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Bootstrap overrides*/
.navbar-inverse {
    background-color: #e1eac2bf;
    border-color: #e1eac2bf;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333333bd;
}

.navbar-inverse .navbar-brand {
    color: #333333d4;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

form-control{
    font-size:17px;
}




.btnSave{
    width:150px;
    margin-top:10px;
    font-size: 17px;
    border-radius: 9px;
}

.addGig{
    margin-top:47px;
}

.form-group{
    marign-bottom:21px;
}

.form-control{
    border-radius:9px;
    height: 39px;
}

.body-content{
    margin-top: 23px;
}

.navbar-brand{
    font-weight: bold;
    font-size: 22px;
}

.navbar-nav > li > .dropdown-menu {
    width: 210px;
    font-size: 16px;
}

span.field-validation-error {
    color: red;
    font-size: 15px;
    font-weight: bold;
}
